#cars {
    width: 150px;
    }
    #cars li {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        }
    #cars a {
        color: #000;
        display: block;
        text-decoration: none;
        padding: 5px 5px;
        margin: 0;
        background-color: #eee;
        width: 150px;
        }
    #cars ul {
        display: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 30px;
        left: 0;
        }
        #cars ul li {
            margin-left: 162px;
            }